<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Student Corner</title>
  <link rel="stylesheet" href="/css/Student Corner.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/flick/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <style media="screen">
    * {
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;
      position: relative;
    }

    li {
      font-weight: bold;
    }
    a{
      border-radius: 5px;
      text-decoration: none;
      background-color: rgb(4, 189, 167);
      color: rgb(0, 0, 0);
      padding: 10px;

    }
  </style>
</head>

<body>
  <div id="StdntCrnr">
    <h1>Students' Placement Office </h1>
    <ul>
      <li><a href="https://spo.iitk.ac.in/">About Us</a></li>
      <br>
      <p>The Indian Institute of Technology Kanpur is well known for its academic excellence and is often considered as the 'first stop' for a large number of industries and other organizations for recruiting undergraduate and post-graduate students.
        We truly appreciate the faith bestowed on us from several organizations and we look forward to continuing our relationship with them.
        The Students' Placement Office (SPO) is run and managed by an efficient team of office staff & students and handles all aspects of placements at IIT Kanpur. Right from contacting companies to managing all logistics of arranging for tests,
        pre-placement talks and conducting final interviews the SPO team provides it's best possible assistance to the recruiters. The hospitality and the functioning of SPO is applauded and well received by the visiting recruiters every year.</p>
      <br>
      <li> <a href="https://spo.iitk.ac.in/preparation/index.html">Preparation Portal</a> </li>
      <br>
      <p>Welcome to the Preparation Portal of Students' Placement Office, IIT Kanpur. This portal provides the resources to help students develop their professional skills whether it be in terms of placement, higher studies or internships. You can
        also find data regarding the Placement & Internship statistics of last year.

        We have also put up a number of guides containing the experiences of your seniors so that you can learn from their mistakes & achievements. We sincerely hope that you will make the best possible use of this portal.However if you feel
        something is missing on this portal, do let us know. We would be happy to help you out.</p>
    </ul>
    <h1>Scholarship</h1>
    <ol>
      <li> <a href="https://iitk.ac.in/sspc/sspc-mcm-scholarship">Merit Cum Means Scholarships</a></li>
      <br>
      <p>Students receive full tuition waiver, and pocket allowance of Rs. 1000 pm for the duration of the program. This is merit cum means based scholarship; hence, the recipients must maintain a minimum CPI of 6.5. However, if CPI falls below 6.5
        (but remains above 6.0) then pocket allowance is withdrawn. A student must only submit their parental income certificate to apply for this scholarship. This scholarship can be availed by those who are other than category (SC/ST) students with
        annual parental income less than 4.5 lakhs. </p>
      <br>
      <li><a href="https://iitk.ac.in/sspc/sspc-inspire-scholarships">Inspire Scholarships </a></li>
      <br>
      <p>Students receive an annual scholarship of Rs.30,000 per semester (Rs. 60,000 annually), along with a research grant of Rs.20,000. Students of B.S programmes within the ALL INDIA RANK (AIR) 10,000 as per Common Merit LIST (CML) in Chemistry,
        Physics and Mathematics departments are eligible for this scholarship. Students must submit an undertaking for not getting any other scholarship to the SSPC every semester to apply for this scholarship. This is a merit based scholarship;
        hence, the recipients must maintain a minimum CPI of 6.0.</p>
      <br>
      <li><a href="https://iitk.ac.in/sspc/sspc-donor-scholarships">Donor Scholarships </a> </li>
      <br>
      <p>The Institute gives Donor Scholarships to meritorious and needy students. 115 scholarships awarded. For details of these 115 Donor Scholarships available for students and the criteria used for selection, you can click above mentioned link.</p>
      <br>
      <li><a href="https://iitk.ac.in/sspc/sspc-fbm-scholarship">FREE-BASIC-MESS SCHOLARSHIP </a> </li>
      <br>
      <p>This scholarship can be availed by those who are category (SC/ST) students with annual parental income less than 4.5 lakhs. Under this scholarship students receive free basic mess bill and a pocket allowance. </p>
      <br>
      <li><a href="https://iitk.ac.in/sspc/sspc-external-scholarships">EXTERNAL SCHOLARSHIPS </a> </li>
      <br>
      <p>The Institute helps its students in applying for various external scholarships. The previous link provides the information about some external scholarships that IIT Kanpur students have applied for or availed of in the past; however, the
        list provided below is not complete and there may be other external scholarships for which you may be eligible/ interested in. As part of the Prime Minister's Digital India program, the Government of India (GoI) has created the National
        Scholarship Portal (NSP) for students across the country for detailed information about various GoI scholarships.</p>
      <br>
      <li><a href="https://iitk.ac.in/sspc/sspc-sports-scholarships">SPORTS SCHOLARSHIPS </a> </li>
      <br>
      <p>A maximum of 20 scholarships per year in the amount of Rs. 1,000/- per month for 9 months are to be given to IIT Kanpur students who show: Leadership in sports related activities on campus leading to development, growth and increased
        participation in various sporting activities. Excellence in sports, as shown by performance in Inter-IIT and other external sports meets. </p>
      <br>
      <li><a href="https://iitk.ac.in/sspc/sspc-academic-awards">Academic Excellence Awards </a> </li>
      <br>
      <p>The Institute recognizes the academic achievements of its students in the form of several academic excellence awards. These awards are given to meritorious students of IIT Kanpur having a CPI of 8.5 and above in the previous academic year.
        Here CPI of the previous academic year (API) is computed solely for the previous academic year. </p>
      <br>
      <li><a href="https://iitk.ac.in/sspc/sspc-convocation-awards">Convocation Medals/Awards/Prizes </a> </li>
      <br>
      <p>The Institute recognizes the academic achievements of its students in the form of several convocation awards, medals, and prizes that are given to the students at the time of graduation during the convocation ceremony. The various
        convocation awards, medals, and prizes available for students are listed in the above link along with their criteria.
        The formalities regarding this scholarship are carried out by the Institute authorities and no participation from a student is required. There are many external scholarships provided by State governments, offices etc., information for which
        is provided from time to time by the concerned departments. A student must complete the formalities for such external scholarships on his own and contact the SSPC for the formalities required on the part of the Institute. There are also other
        scholarships such as many Donors’ scholarships, also awarded by the SSPC. A student applying for Merit-cum-means scholarship by submitting his/her Parental Income Certificate, will automatically be eligible for these scholarships.</p>
    </ol>

    <h1>Student Search</h1>
    <p><a href="https://search.pclub.in/">Student Search</a></p>
    <h1>Exam Schedule</h1>
    <ul>
      <li><a href="http://172.26.142.68/examscheduler/">MidSem </a></li>
      <br>
      <br>
      <li><a href="http://172.26.142.68/examscheduler2/">EndSem </a> </li>
    </ul>
    <h1>Cpi/Spi Calculator</h1>
      <p> <a href="https://cpi-spi-calculator.herokuapp.com/">Calculate your Cpi/Spi</a> </p>
    <h1>IItk Videos</h1>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1Ks1pEnJSfc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
  </div>
</body>
<script>
  $(document).ready(function() {
    $("#StdntCrnr").accordion({
      collapsible: true,
      heightStyle: "content",
      icons: {
        "header": "ui-icon-plus",
        "activeHeader": "ui-icon-minus"
      }
    });
  });
</script>

</html>
